\#*
.\#*
.*
!.gitignore
*.swp
*~
*.swo
$.swn
app/systemai_bk
app/toptemai_bk
config/certi.php
.sass-cache
vendor/routes.php
documents
hnwmall
public/gitpull.php
/data/kvstore/*
/data/cache/*
/config/install.lock.php
