    <div id="main" class="main">
      <div class="wrap-lg">
      	<div class="cqxz_221wrap">
      		<div class="cqxz_221reg_l" style="background-image:url(../images/user_signup.png);height:424px;width:444px;">
      			<!-- <h2 class="cqxz_221rtit">企业用户</h2>
      			<div class="cqxz_221rsm">说明：</div>
      			<div class="cqxz_221rconbox">
      				<p><i>1.</i><span>商城积分只可在仕泰隆购物时使用；</span></p>
      				<p><i>2.</i><span>积分的数值精确到个位（小数点后全部舍弃，不进行四舍五入），赠送积分的商品，商家承担积分费用，  费用保留小数点后二位（费用以元为单位），100个积分等于现金1元；</span></p>
      				<p><i>3.</i><span>买家在完成该笔交易后（支付宝软件系统显示该交易状态为"交易成功"）后，才能得到此次交易的相应积分；</span></p>
      				<p><i>4.</i><span>积分不得进行任何转让，不可以进行兑换；</span></p>
      			</div> -->
      			<div class="cqxz_221reagr" style="padding-top: 300px;padding-left: 160px;height: 50px;">
              <label id="personage_id" >
                <input type="checkbox" value="personage" >
                <span style="padding-left: 10px;">注册个人用户</span>
                <a style="display:none;" href="<{url action=topc_ctl_passport@signup}>"></a>
              </label>
              <br>
      				<label id="company_id">
                <input type="checkbox" value="company" >
                <span style="padding-left: 10px;">注册企业用户</span>
                <a style="display:none;" href="<{url action=topc_ctl_passport@companysignup}>"></a>
              </label>
      			</div>
      		</div>
      		<div class="cqxz_221reg_r" style="background-image:url(../images/shop_signup.png);height:424px;width:444px;">
      			<!-- <h2 class="cqxz_221rtit">个人用户</h2>
      			<div class="cqxz_221rsm">说明：</div>
      			<div class="cqxz_221rconbox">
      				<p><i>1.</i><span>商城积分只可在仕泰隆购物时使用；</span></p>
      				<p><i>2.</i><span>积分的数值精确到个位（小数点后全部舍弃，不进行四舍五入），赠送积分的商品，商家承担积分费用，  费用保留小数点后二位（费用以元为单位），100个积分等于现金1元；</span></p>
      				<p><i>3.</i><span>买家在完成该笔交易后（支付宝软件系统显示该交易状态为"交易成功"）后，才能得到此次交易的相应积分；</span></p>
      				<p><i>4.</i><span>积分不得进行任何转让，不可以进行兑换；</span></p>
      			</div> -->
      			<div class="cqxz_221reagr" style="padding-top: 300px;padding-left: 160px;">
      				<label id="shop_id" >
                <input type="checkbox" value="personage" >
                <span style="padding-left: 10px;">供应商注册</span>
                <a style="display:none;" href="<{url action=topshop_ctl_passport@signup}>"></a>
              </label>
      			</div>
      		</div>
      		<div class="cqxz_221reg_agree">
                <a><input  id="agree_id"  type="button" value="确定"></a>
      		</div>


      	</div>
      </div>
    </div>

<script>
$(function(){
  var oPerson=$('#personage_id');
  var oComp=$('#company_id');
  var oShop=$('#shop_id');

  function state(obj){
    obj.attr("checked",false);
  }

  oComp.click(function(){
    state(oPerson.children("input"));
    state(oShop.children("input"));
  });
  oPerson.click(function(){
    state(oComp.children("input"));
    state(oShop.children("input"));
  });
  oShop.click(function(){
    state(oComp.children("input"));
    state(oPerson.children("input"));
  });

  $("#agree_id").click(function(){
    if (oComp.children("input").is(':checked')) {
      $(this).parent().attr("href",oComp.children("a").attr("href"));
    }else if (oPerson.children("input").is(':checked')) {
      $(this).parent().attr("href",oPerson.children("a").attr("href"));
    }else if (oShop.children("input").is(':checked')) {
      $(this).parent().attr("href",oShop.children("a").attr("href"));
    }else{
      Message.error('请选择注册方式.');
    };
  })

})

</script>