<!-- 主内容区 -->
<div class="seaview" style="height: 85px;background: url('<{$env.base_full_url}>/themes/stlmall/images/sale.jpg') center no-repeat">
    <div class="wrap-lg">
        <div class="tm-more-tit">今日限量平台展销</div>
    </div>
</div>
<div id="main" class="main index" style="background-color: #f5f5f5;">
    <div class="wrap-lg">
        <div class="tm-adv"></div>
        <div class="tmmain">
            <ul class="tmmain addshow">
                <{include file="topc/temai/common/list.html"}>
            </ul>
        </div>
    </div>
</div>