<div class="section">
    <{include file="topc/content/nodelist.html"}>
    <div class="row">
        <div class="col-lg-13 box">
          <div class="membercenter-box">
            <div class="membercenter-box-hd">
              <div class="membercenter-box-left"><{$contentInfo.title}></div>
            </div>
            <div class="membercenter-box-bd">
              <div class="artical-detail">
                <div class="artical-detail-hd">
                 <h2><{$contentInfo.title}></h2>
                 <div class="time">
                     <div style="float:left;">发布日期：<{$contentInfo.modified|cdate}></div>
                     <div style="float:right;">
                         <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style">
                          <span class="jiathis_txt">分享到：</span>
                          <a class="jiathis_button_tsina">微博</a>
                          <a class="jiathis_button_weixin">微信</a>
                          <a class="jiathis_button_qzone">空间</a>
                        </div>
                        <script type="text/javascript" >
                          var jiathis_config={
                              summary:"",
                              shortUrl:false,
                              hideMore:false
                          }
                        </script>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                     </div>
                 </div>
                </div>
                  <p>
                 <{$contentInfo.content}>
                </p>
                  <{if $contentInfo.url}>
                  <p>来源：<a href="<{$contentInfo.url}>"><{$contentInfo.url}></a></p>
                  <{/if}>
             </div>
            </div>
          </div>
        </div>
    </div>
</div>