
<div class="col-lg-13 box">
    <div class="membercenter-box">
        <div class="membercenter-box-hd">
            企业信息
        </div>
        <div class="membercenter-box-bd" style="height: 400px; text-align: center;">
           <div  style="width: 800px; margin: 100px auto">
               <p style="font-size: 18px; margin-bottom: 50px;">企业信息未提交，提交企业信息后会使交易更畅通。</p>
               <button type="button" class="btn btn-success" onclick="window.location.href='<{url action=topc_ctl_member@seInfoCompany}>'" class="btn btn-import" rel="_request"><span>提交企业信息</span></button>

           </div>
        </div>

    </div>
</div>

