<!--设置支付密码-->
<form id="testForm" action="https://testebank.sdb.com.cn/corporbank/nonpartyVerify_nest.do" method="post" name="testForm">
    <input type="hidden" name="orderid" value="201604251513433977">
    <input type="hidden" name="P2PCode" value="3004">
    <input type="hidden" name="P2PType" value="1">
    <input type="hidden" name="custAccId" value="888100000291404">
    <input type="hidden" name="thirdCustId" value="Same002">
    <input type="hidden" name="accNo" value="6216691234567891234">
    <input type="hidden" name="accName" value="互联网">
    <input type="hidden" name="mobile" value="18664726725">
    <input type="hidden" name="type" value="S">
    <input type="hidden" name="idType" value="1">
    <input type="hidden" name="idNo" value="341126197709218366">
    <input type="hidden" name="orig" value="&amp;888100000289052">
    <input type="hidden" name="returnurl" value="https://testebank.sdb.com.cn/corporbank/returnDo.do">
    <input type="hidden" name="notifyUrl" value="http://www.kinggen.com/YunmsCapitalServer/CertSubmitSuccess.aspx">
    <input type="hidden" name="name" value="黄威翔">
</form>
<script>
    document.getElementById("testForm").submit();
</script>